.pagination .page-item.active .page-link {
    background-color: #1cc88a;
    border-color: #1cc88a;
    color: #fff !important;
}

.pagination .page-item:not(.disabled) .page-link {
    color: #1cc88a;
}

.dropdown-item:focus {
    background-color: rgb(234, 236, 244);
    color: #5a5c69;
}

  
  